@keyframes scriptlessReactDiceAnimationContrastKeyframes {
  0% {
    filter: contrast(1);
  }
  20% {
    filter: contrast(16);
  }
  50% {
    filter: contrast(16);
  }
  80% {
    filter: contrast(1);
  }
}

@keyframes scriptlessReactDiceAnimationBlurKeyframes {
  0% {
    filter: blur(0px);
  }
  20% {
    filter: blur(3px);
  }
  50% {
    filter: blur(3px);
  }
  80% {
    filter: blur(0px);
  }
}

@keyframes scriptlessReactDiceAnimationScaleKeyframes {
  0% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
  }
}
